<% if product.favour_by?(current_user) %>


    <%= link_to "unFavourite", favourite_path(product), method: :delete %>
<% else %>
    <%= link_to "Favourite", product_favourites_path(product), method: :post, remote: true %>


<% end %>
<h4><%= product.favourites.count %> favours</h4>

